body{
    height: 1000px;
    background-color:blueviolet;
}
h1{
    text-align: left;
    font-size: 45px;
    color:limegreen;
    font-family: Verdana, serif;
}
#p1{
    float:left;
    height:35%;
    width: 15%;
}
#p2{
    float:left;
    height:35%;
    width:15%;
    clear: both;
    margin-top: 10px;
}
#p3{
    float: left;
    height:35%;
    width:25%;
    clear: both;
    margin-top:10px;
}
.photo{
    border:1px solid blue;
    margin-right: 20px;
    float:left;
}
h2{
    display:inline;
}
p{
    display:inline;
    font-size:19px;
    font-family:cursive;
}
.paragraph2{
    margin-top:150px;
}
.paragraph3{
    margin-top:200px;
}
.space{
    display:block;
}