body{
    background-color: blueviolet;
    height:1000px;
}
#header{
  margin-bottom: 0; 
}
h1{
    text-align: left;
    font-size: 45px;
    color:limegreen;
    font-family: Verdana, serif;
}
p{
    font-size: 22px;
}
span{
    font-size: 30px;
    color:maroon;
    font-family: monospace;
    background: rgba(244,255,94,1);
    background: -moz-linear-gradient(left, rgba(244,255,94,1) 0%, rgba(235,51,5,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,255,94,1)), color-stop(100%, rgba(235,51,5,1)));
    background: -webkit-linear-gradient(left, rgba(244,255,94,1) 0%, rgba(235,51,5,1) 100%);
    background: -o-linear-gradient(left, rgba(244,255,94,1) 0%, rgba(235,51,5,1) 100%);
    background: -ms-linear-gradient(left, rgba(244,255,94,1) 0%, rgba(235,51,5,1) 100%);
    background: linear-gradient(to right, rgba(244,255,94,1) 0%, rgba(235,51,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ff5e', endColorstr='#eb3305', GradientType=1 );
}
.pics{
    float:left;
    width:10%;
    height:15%;
    clear:left;
}
#pic1{
    margin-top:12px;
    margin-bottom: 8px;
}
#pic2{
    margin-bottom:20px; 
}
#pic3{
    margin-bottom: 20px;
}
#pic4{
    margin-bottom: 20px;
}
#pic5{
    margin-bottom: 20px;
}
#pic6{
    margin-bottom: 20px;
}

#adi{
    margin-bottom: 100px;
}
#rahul{
    padding-top:8px;
    margin-bottom: 82px;
}
#sharvil{
    margin-bottom: 56px;
}
#chris{
    margin-bottom:82px;
}
#raj{
    margin-bottom: 56px;
}